*{
    margin: 0;
    padding: 0;
}
body{
    background-color:bisque;
}
#tabs li a{
    /* margin-top: 5px; */
    /* padding-inline: 6vw; */
    /* padding-top: 16px; */
    float: inline-start;
    font-weight: bolder;
    font-style: italic;
    text-decoration: none;
    color: white;
    cursor: pointer;
    /* margin-left: -34px; */
}
#tabs li a:hover{
    color: white;
    text-decoration:underline;
    transition: 0.3s;
    transition-timing-function:ease-out;
    transform: scale(1.2);
}
nav{
    border: 6px groove silver;
    border-radius: 20px;
    background-color: black;
    height: 12vh;
    /* display: flexbox; */
}
nav ul{
    padding: 4vh 2vw;
    /* border: 3px solid black; */
    flex-wrap: wrap;
}
#logo img{
    border: 8px double white;
    border-radius: 80px;
}
#logo{
    color: white;
    align-items: center;
    padding: 1.5vh 2vw;
    position:absolute;
    float:inline-start;
    max-width: 2vw;
}
#logo:hover{
    transition: 0.3s;
    transition-timing-function:ease-out;
    transform: scale(1.2);
}
#tabs{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
#tabs li{
    padding-inline: 5vw;
    text-shadow: whitesmoke 1px 2px 3px;
    font-size: x-large;
}
center h1{
    font-style: italic;
    text-shadow: peru 1px 2px 3px;
    padding-top: 10vh;
}
#aboutme{
    height: 90vh;
    display: flex;
    padding-inline: 10vw;
    margin-block: 8vh;
    /* margin-block-end: -18vh; */
}
.image{
    position: relative;
    float: right;
}
.text{
    padding-block: 3vh;
    padding-inline: 2vw;
    font-size: medium;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    overflow: hidden;
    min-width: 30vw;
}

.image img{
    border-radius: 40px;
}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
}
.link{
    list-style:none;
    align-items: center;
    justify-content: center;
}
.link a {
    text-decoration: none;
    color: black;
    justify-content: center;
    display: flex;
    align-items: center;
}
.link li {
    font-size: x-large;
    font-style: italic;
    padding-block: 2vh;
    padding-inline: 2vw;
}
.link li:hover{
    color: white;
    transition: 0.3s;
    transition-timing-function:ease-out;
    transform: scale(1.2);
}
.link a img{
    padding-inline: 1vw;
    border-radius: 100px;
}
