*{
    margin: 0;
    padding: 0;
}
body{
    background-color:bisque;
}
#tabs li a{
    /* margin-top: 5px; */
    /* padding-inline: 6vw; */
    /* padding-top: 16px; */
    float: inline-start;
    font-weight: bolder;
    font-style: italic;
    font-size: 2.4vw;
    text-decoration: none;
    color: white;
    cursor: pointer;
    /* margin-left: -34px; */
}
#tabs li a:hover{
    color: white;
    text-decoration:underline;
    transition: 0.3s;
    transition-timing-function:ease-out;
    transform: scale(1.2);
}
nav{
    border: 6px groove silver;
    border-radius: 10px;
    background-color: black;
    min-height: 7.1vh;
    max-height: 16.1vh;
}
nav ul{
    padding: 4vh 2vw;
    /* border: 3px solid black; */
    flex-wrap: wrap;
}
#dropdown input{
  background-color: black;
  color: antiquewhite;
  width: 25px;
  height: 36px;
  font-size: large;
  border-radius: 5px;
  border: 5px double whitesmoke;
  cursor: pointer;
  float: left;
  margin-block: 1.5vh;
  margin-inline: 2vw;
}
@media only screen and (orientation: landscape) {
  #dropdown{
    display: none;
  }
}
#dropdowncontent{
  display: block;
  position: absolute;
  background-color: black;
  border-radius: 10px;
  border: 5px groove whitesmoke;
  transition: all .5s ease;
  min-width: 2vw;
  opacity: 0;
  pointer-events: none;
}
#dropdowncontent a{
  display: block;
  text-decoration: none;
  text-align: center;
  font-weight: bolder;
  font-style: italic;
  color: aliceblue;
  padding: 2vh 5vw;
}
#dropdowncontent.showit{
  pointer-events: auto;
  opacity: 1;
  position: fixed;
} 
#logo img{
    border: 6px double white;
    border-radius: 80px;
    max-width: 7vw;
    max-height: 10vh;
}
#logo{
    color: white;
    float: inline-end;
    margin: 10px;
}
#logo:hover{
    transition: 0.3s;
    transition-timing-function:ease-out;
    transform: scale(1.2);
}
#tabs{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
#tabs li{
    padding-inline: 3vw;
    text-shadow: whitesmoke 1px 2px 3px;
    font-size: x-large;
}
@media only screen and (orientation: portrait) {
  #tabs{
    display: none;
  }
}
.banner{
    /* border:5px solid blue; */
    border-radius: 20px;
    height: 60vh;
    width: 55vw;
    margin: 2vh auto;
    background-image: url(media/Images/anthony-jacobson-NnZYTVuUMxU-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
    padding-inline: 4vw;
    padding-block: 3vh;
}
.con{
    /* align-items: center;
    justify-content: center; */
    cursor: pointer;
    opacity:60%;
    margin-block: 8vh;
    margin-inline: 2vw;
    max-inline-size: 8vw;
}
.con:hover{
    transition: 0.3s;
    transition-timing-function:ease-out;
    transform: scale(1.2);
}
.pp{
    display: contents;
}
progress{
    width: 60vw;
}
span.Sname{
    margin-inline: 0vw 6vw;
    opacity: 60%;
    font-size: xx-large;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 48vw;
}
/* i{
    white-space: nowrap; 
    overflow: hidden;
} */
.base{
    text-align: center;
    color: whitesmoke;
    height: 16.5vh;
    background-color: black;
}
  
#myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 2px 12px 2px;
    border: none;
      border-bottom-width: medium;
      border-bottom-style: none;
      border-bottom-color: currentcolor;
    border-bottom-width: medium;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
    border-bottom: 1px solid #ddd;
    min-width: 30vw;
}
  
#myInput:focus {outline: 3px solid #ddd;}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 20px;
    background-color: whitesmoke;
    opacity: 80%;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
    max-height: 54vh;
    margin-inline-start: -54vw;
    min-width: 30vw;
}
  
.dropdown-content span {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
    overflow: visible;
    max-width: 29vw;
    cursor: pointer;
}
  
.dropdown span:hover {
    opacity: 80%;
    background-color: #ddd;}
  
.show {display: block;}
.bi_bi-music-note-list {
    position: absolute;
    float: inline-end;
    cursor: pointer;
    opacity: 60%;
    margin-inline-start: -3vw;
}
.bi_bi-music-note-list:hover{
    transition: 0.3s;
    transition-timing-function:ease-out;
    transform: scale(1.2);
}
